@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Psicogestión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="shortcut icon" href='@Url.Content("~/Content/images/favicon.ico")' type="image/x-icon" />

    <!-- CSS -->
    <link rel="stylesheet" href='@Url.Content("~/Content/bootstrap.min.css")' />
    <link rel="stylesheet" href='@Url.Content("~/Content/owl.carousel.min.css")' />
    <link rel="stylesheet" href='@Url.Content("~/Content/slicknav.css")' />
    <link rel="stylesheet" href='@Url.Content("~/Content/flaticon.css")' />
    <link rel="stylesheet" href='@Url.Content("~/Content/gijgo.css")' />
    <link rel="stylesheet" href='@Url.Content("~/Content/animate.min.css")' />
    <link rel="stylesheet" href='@Url.Content("~/Content/animated-headline.css")' />
    <link rel="stylesheet" href='@Url.Content("~/Content/magnific-popup.css")' />
    <link rel="stylesheet" href='@Url.Content("~/Content/fontawesome-all.min.css")' />
    <link rel="stylesheet" href='@Url.Content("~/Content/themify-icons.css")' />
    <link rel="stylesheet" href='@Url.Content("~/Content/slick.css")' />
    <link rel="stylesheet" href='@Url.Content("~/Content/nice-select.css")' />
    <link rel="stylesheet" href='@Url.Content("~/Content/style.css")' />
</head>
<body>

    <!-- Header/Navbar (puedes personalizarlo con links reales si gustas) -->
    <header>
        <!-- Aquí va el navbar de la plantilla original -->
    </header>

    <!-- Contenido dinámico -->
    @RenderBody()

    <!-- Footer -->
    <footer>
        <!-- Aquí va el footer de la plantilla -->
    </footer>

    <!-- JS Scripts -->
    <script src='@Url.Content("~/Scripts/vendor/modernizr-3.5.0.min.js")'></script>
    <script src='@Url.Content("~/Scripts/vendor/jquery-1.12.4.min.js")'></script>
    <script src='@Url.Content("~/Scripts/popper.min.js")'></script>
    <script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.slicknav.min.js")'></script>
    <script src='@Url.Content("~/Scripts/owl.carousel.min.js")'></script>
    <script src='@Url.Content("~/Scripts/slick.min.js")'></script>
    <script src='@Url.Content("~/Scripts/gijgo.min.js")'></script>
    <script src='@Url.Content("~/Scripts/wow.min.js")'></script>
    <script src='@Url.Content("~/Scripts/animated.headline.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.magnific-popup.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.nice-select.min.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.sticky.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.barfiller.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.counterup.min.js")'></script>
    <script src='@Url.Content("~/Scripts/waypoints.min.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.countdown.min.js")'></script>
    <script src='@Url.Content("~/Scripts/hover-direction-snake.min.js")'></script>
    <script src='@Url.Content("~/Scripts/contact.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.form.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.min.js")'></script>
    <script src='@Url.Content("~/Scripts/mail-script.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.ajaxchimp.min.js")'></script>
    <script src='@Url.Content("~/Scripts/plugins.js")'></script>
    <script src='@Url.Content("~/Scripts/main.js")'></script>
</body>
</html>
